* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: inherit;
	color: #a6acb3;
	font-size: 16px;
}
a {
	text-decoration: none;
}
.inside {
	display: none;
}
.inside__item {
	list-style: none;
}
/* /Header */
.header {
	display: flex;
	margin: 20px auto;
	width: 1080px;
	height: 75px;
	justify-content: space-between;
}
.list-items {
	display: inline-block;
	list-style: none;
	margin: 0px 10px;
	line-height: 75px;
}
.item {
	display: inline-block;
	margin: 0px 20px;
	line-height: 75px;
}
.button {

}

/* Header left */
.header-left {
	display: flex;
}
.item-img{
	width: 75px;
	height: 75px;
}
.logo {
	width: 100%;
	vertical-align: bottom;
}
/* Header right */
.header-right {
	display: flex;
}

/* /Header right */

/* /Header */
