* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: inherit;
	color: #a6acb3;
	font-size: 16px;
}
a {
	text-decoration: none;
}
.button a {
	background-color: inherit;
	color: white;
}
.inside a:hover {
	background-color: inherit;
	color: #000;
}
/* /Header */
.header {
	display: flex;
	margin: 20px auto;
	width: 1080px;
	height: 75px;
	align-items: center;
	justify-content: space-between;
}
.list-items {
	display: inline-block;
	list-style: none;
	margin: 0px 10px;

}

.item {
	display: inline-block;
	margin: 0px 20px;
	line-height: 75px;
}
.inside {
	display: none;
	white-space: nowrap;
	position: absolute;
	padding: 10px 15px;
	line-height: 50px;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.inside__item {
	list-style: none;
}
.button {
	padding: 12px 25px;
  color: #fff;
  background-color: #EB008D;
  border-radius: 20px;
}
/* Header left */
.header-left {
	display: flex;
}
.item-img{
	width: 75px;
	height: 75px;
}
.logo {
	width: 100%;
	vertical-align: bottom;
}
/* Header right */
.header-right {
	display: flex;
}
/* /Header right */

/* /Header */
